.content {
  margin-left: 372px;
  width: 700px;
  height: 108px;
  left: 370px;
  top: 170px;

  a {
    text-decoration: none;
    color: white;
  }
}

.button {
  margin-left: 372px;
  color: pink;
  border: none;
}
